@model MundiUtil.WEB.Dtos.GuardarInsumoDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenciaInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenciaInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoInsumo)
        </dd>
    </dl>
    
    <form method="post" asp-action="Eliminar" asp-route-id="@Model.IdInsumos">  
        <input type="hidden" asp-for="IdInsumos" />
        <button type="submit" class="text-danger m1-1" onclick="return confirm ('Deseas eliminar este registro?')"><i class="fa fa-trash-alt fa-lg"></i>Eliminar</button> 
        <a type="submit-danger" asp-action="Index"><i class="fas fa-undo-alt"></i></a>
    </form>
</div>
