@model MundiUtil.WEB.Dtos.GuardarInsumoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenciaInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenciaInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoInsumo)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.IdInsumos"><i class="fas fa-pen-square"></i></a> |   
    <a asp-action="Delete" asp-route-id="@Model.IdInsumos"><i class="fas fa-trash"></i></a>
    <a class="btn btn-success m1-1" asp-action="Index">Regresar</a>
</div>
